.main {
  background-color: #e6e6e6;
  color: var(--primary-color);
  min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.section {
  padding-inline: 3rem;
  padding-bottom: 3rem;
}

.title {
  text-indent: -0.075em;
  font-size: 8rem;
  font-weight: 800;
  line-height: 0.875em;
  margin: 0;
  text-transform: uppercase;
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.15rem;
  font-weight: 500;
  font-weight: 400;
  text-transform: uppercase;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form {
  padding: 5rem 0;
}

.form__item {
  display: flex;
  flex-direction: column;
  border-bottom: thin solid var(--primary-color);
  padding: 2rem 0;
}

.form__label {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.form__label__name {
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 600;
}

.form__chevron {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.form__label__type {
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: 500;
  align-self: flex-start;
}

.form__field {
  padding: 0;
  font-size: 1.25rem;
  border: none;
  font-weight: 400;
  outline: none;
  background: none;
}

.form__item:first-child {
  border-top: thin solid var(--primary-color);
}

.form__button {
  margin-top: 2rem;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 600;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: var(--primary-color);
  display: flex;
  gap: 2rem;
  align-items: center;
}

.form__button__circle {
  height: 2rem;
  width: 2rem;
  border: thin solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  font-size: 1rem;
  line-height: 0;
}
